<style>

.table-hover2 tbody tr:hover td {}


</style>




<center>
    <br>
    <p style="color: #d46e00; font-style: bold; font-family: Cambria, Georgia; font-size: 36px; font-weight: bold;">Admin</p>
     <hr>
	 
	 
<div style="width: 98%; margin: 0 auto; background: #d46e00; width: 97%; padding: 10px; font-size: 16px; font-weight: bold; font-family: 'Trebuchet MS', Georgia; -moz-border-radius: 15px; border-radius: 15px;">




<% @supports.each do |support| %>


  <table class="table table-hover2">


	      <tbody>
        <tr>

		  
          <td style="color:black;border-top:none;padding:0px;">
		    <div style="font-size:13px;background:LightBlue;word-wrap: break-word;float:right;overflow:auto;white-space:normal;width:5em;-moz-border-radius: 15px; border-radius: 15px;padding:3px;">

<% if support.name.split(" ").length > 1 %>			
  <%= simple_format(support.name.gsub! " ", "<br>") %>
    <% else %>
  <%= support.name %>			
<% end %>

			</div>
		  </td>

		  
<td style="color:black;border-top:none;padding:5px;width:90%;height:100%;">
<div style="font-size:13px;background:pink;word-wrap: break-word;float:left;overflow:auto;-moz-border-radius: 15px; border-radius: 15px;padding:3px;-moz-border-radius-topleft: 0;border-top-left-radius: 0;white-space:normal;">
			
		    <%= support.content.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 220);ob << (" " + x)}.strip %>....
			<%= link_to( image_tag('table-read.png'), support, :style => 'background:inherit;' ) %>
			
<%= link_to( image_tag('table-delete.png'), support_path(support), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'background:inherit;') %>
	
</div>
</td>


		</tr>


    </tbody>
	  </table>
      <% end %>

  </table>
  
  <br>
    <img src="/assets/table-new.png">
      <%= link_to 'Create New Message', new_support_path, :style => 'background:inherit;color:white;text-decoration: none;' %>
	<img src="/assets/table-new.png">

</div>